.app {
    display: flex;
}

.coordinate-info {
    width: 100%;
    height: 100vh;
    margin-left: 1vw;
}

.coordinate-info h1 {
    font-size: 1vw;
    margin-bottom: 5px;
}

.input {
    font-size: 1vw;
    width: 2.5vw;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.input__text {
    font-size: 0.8vw;
}

.button {
    margin: 1vw;
}

.button-wrapper {
    text-align: center;
}

.main-button {
    width: 95%;
}

.axis-input {
    font-size: 1vw;
    margin-bottom: 8px;
}

.input-wrapper,
.input-wrapper,
.input-wrapper {
    margin-bottom: 8px;
}

.rotation-input {
    font-size: 1vw;
    width: 3.5vw;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.calculation-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}

.calculation-wrapper a:hover {
    cursor: pointer;
}

.calculation-wrapper .active {
    color: red;
}